h1 {
    text-align: center;
    background-color: black;
    color: white;
}

#search {
    margin-top: 5px;
}

#forecast {
    margin-left: 15px;
    margin-right: 10px;
}

.forecastDay {
    width: 100px;
    margin-left: 15px;
}
