h1 {
    text-align: center;
    background-color: black;
    color: white;
}

footer {
    text-align: center;
}

#forecast {
    padding-left: 10px;
}

#forecastTitle {
    padding-top: 15px;
}

.forecastDay {
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(18, 110, 214);
    color: white;
    padding-top: 10px;
    margin-bottom: 10px;
}

.card {
    min-width: 140px;
}

.card img {
    object-fit: cover;
    height: 100px;
    width: 100px;
}

.low {
    background-color: rgb(78, 190, 78);
    border-radius: 5px;
    padding: 3px;
}

.moderate {
    background-color: rgb(250, 235, 25);
    border-radius: 5px;
    padding: 3px;
}

.high {
    background-color: orange;
    border-radius: 5px;
    padding: 3px;
}

.very-high {
    background-color: rgb(248, 56, 56);
    border-radius: 5px;
    padding: 3px;
}

.extremly-high {
    background-color: rgb(139, 34, 87);
    color: white;
    border-radius: 5px;
    padding: 3px;
}
